.ui.six.column.stackable.grid
  .title
    Expertise
  .ui.divider
  .row
    .column
      = semantic_icon(:python, :big)
      .content
        Python
    .column
      %img.icon{ src: 'images/ros.png'}
      .content
        ROS
    .column
      = semantic_icon(:gem, :big)
      .content
        Ruby
    .column
      %img.icon{ src: 'images/opencv.png'}
      .content
        Open CV
    .column
      %img.icon{ src: 'images/tensorflow.png'}
      .content
        TensorFlow
    .column
      %img.icon{ src: 'images/pytorch.png'}
      .content
        PyTorch
