.ui.three.column.stackable.grid
  .ui.divider
  .row
    .column
      = semantic_icon(:python, :big)
      .content
        Python
    .column
      = semantic_icon(:angular, :big)
      .content
        Angular
    .column
      = semantic_icon(:gem, :big)
      .content
        Ruby

