.ui.four.column.stackable.grid
  .ui.divider
  .row
    .column
      = semantic_icon(:python, :big)
      .content
        Python
    .column
      = semantic_icon(:angular, :big)
      .content
        Angular
    .column
      = semantic_icon(:gem, :big)
      .content
        Ruby
    .column
      %img.opencv.big.icon{ src: 'images/opencv.png'}
      .content
        Open CV
