- title 'Software developer'
- description 'Personal website'
- keywords 'developer, rails, ruby, software, canberra, web developer, rails developer, ruby developer, software developer, rails developer canberra, ruby developer canberra, software developer canberra'

.ui.center.aligned.container.grid.home-page
  .row
    = render 'avatar'
  .row
    %header
      %h1.ui.medium.header Hi! I'm Muraleekrishna Gopinathan
      %p I launch rockets, program robots, and sing.
  .row
    = render 'interests'
  .row
    = render 'social'
