.ui.center.aligned.two.column.vertically.padded.grid
  .row
    .six.wide.mobile.only.column
    .ten.wide.tablet.only.column
    .twelve.wide.computer.only.column
    .ten.wide.mobile.six.wide.tablet.four.wide.computer.column
      = link_to asset_path("resume.pdf"), target: '_blank' do
        .resume-download
          = semantic_icon(:download, :small)
          %span.content.right
            My Resume
